#place_drop{
	display: none;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10100;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	padding-top: 60px;
	overflow: hidden;
}

.sidenav a{
	color:#8e8e8e;
}

.sidenav ul{
	list-style: none;
	width: 70vh;
}

.sidenav a:hover {
	color: #222;
}

.sidenav li{
	padding-bottom: 15px;
}

.closebtn {
	top: 7px;
	right: 20px;
	font-size: 27px;
	position: absolute;
}


.mob{
	display: none;
}

.sider {
	position: absolute;
	top: 10px;
	left: 40px;
	color: #fff;
}

.resp{
	display: none;
}

.banner .caption.kyoko{
	max-width: 80%;
	left: 10%;
}

.kyoko img{
	max-width: 100%;
	height: auto;
}

.vmsa, .snapper {
	display: none;
}

/****************** Contact ******************/

@media only screen and (max-width : 1200px) {
	.futr .col-xs-1 {
		display: none;
	}

	.futr .col-xs-2{
		width:22%;
		margin-right: 3%;
	}

	.futr .col-xs-3 {
		width:23%;
		margin-right: 2%;
	}

	.navbar-brand>img {
		width: 100%;
		height: auto;
		display: block;
	}

}


@media only screen and (max-width : 1020px) {


	.caption h1 {
		font-size: 50px;
		margin-top: 5px;
	}

	.white_bg {
		padding: 25px 10px 10px 0px;
	}

	#contact .two {
		font-size: 15px;
	}


}

@media only screen and (max-width : 992px) {
	.loca {
		margin: 0;
	}

	.loca {
		margin: 0;
	}



	.caption h1 {
		font-size: 45px;
		margin-top: 5px;
	}

	.request h3 {
		font-size: 39px;
	}

	.request p.cata {
		width: 90%;
		text-align: left;
	}

	.bord {
		width: 40px;
	}

	.email .send {
		font-weight: normal;
		width: auto;
	}

	.map h1.neou.white {
		font-size: 39px;
	}

	.jersy {
		padding: 50px 50px;
	}

	footer h2.cata {
		font-size: 25px;
	}

	#tweet, .linked {
		height: 175px;
	}

	.futr .col-xs-2:nth-of-type(1) {
		width: 65%;
		margin-right: 0;
	}

	.futr .col-xs-2:last-child {
		width: 25%;
		margin-right: 0;
	}

	.futr .col-xs-3:nth-child(3) {
		width: 30%;
		margin-right: 0%;
		margin-left: 5%;
	}

	.futr .col-xs-3:nth-child(4) {
		width: 40%;
		margin-right: 0%;
	}


}

@media only screen and (max-width : 767px) {
	.sticky_header  .navbar-header.col-xs-4.padzero {
		margin: 20px auto;
	}

	.navbar-header.col-xs-4.padzero {
		float: none;
		margin:auto;
		width: 25%;
	}

	.navbar .col-xs-8 {
		display: none;
	}

	.white_bg {
		padding: 16px 10px 10px 0px;
	}

	.mob{
		display: block;
	}

	.sticky_header .sider {
		color: #008ede;
		padding-top: 15px;
	}

	footer .marg-bot-80 {
		margin-bottom: 80px;
		display:block;
	}

	.no_mob {
		display: none;
	}

	footer .row .marg-bot-80 .col-xs-8 {
		width: 90%;
		margin: 0 5% 20px 5%;
		padding-right: 15px;
	}

	footer .row .marg-bot-80 .col-xs-4 {
		width: 90%;
		margin: 0 5% 0 5%;
	}

	footer .row .col-xs-8 {
		padding-right: 0;
		width: 90%;
		margin-left: 5%;
	}

	footer .marg-bot-80 .mob {
		padding-right: 0;
		width: 90%;
		margin-left: 5%;
	}

	.row.futr {
		margin: auto;
	}

	footer h4.cata {
		margin-bottom: 12px;
	}

	footer select {
		margin-bottom: 20px;
	}

	footer h3 {
		margin-top: 0;
	}

}

@media only screen and (max-width : 693px) {
	footer h4.cata {
		margin-bottom: 12px;
	}

	.futr .col-xs-2:nth-of-type(1) {
		width: 100%;
		margin-right: 0;
	}

	.futr .padzero{
		margin-bottom: 20px;
	}

	.futr .col-xs-3:nth-child(3) {
		width: 35%;
		margin: 0;
	}

	.futr .col-xs-3:nth-child(4) {
		width: 50%;
		float: right;
	}


}

@media only screen and (max-width : 650px) {




	.futr .col-xs-3:nth-child(3) {
		width: 50%;
		margin: 0;
	}

	.futr .col-xs-3:nth-child(4) {
		width: 50%;
		float:left;
	}

	svg{
		display: none;
	}

	#hash {
		padding-top: 0px;
	}

	#hash .col-xs-6 {
		width: 100%;
	}

	#hash .col-xs-6:first-child {
		margin-bottom: 40px;
	}

	#place_drop{
		display: block;
		border: solid thin #fff;
		background: rgb(16, 55, 78) none repeat scroll 0% 0%;
		outline: 0px none;
		padding: 5px 35px 5px 15px;
		border-radius: 20px;
		clear: both;
		margin: 0 40px;
		width: auto;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url(../images/d.png) no-repeat 97% 50%;
	}

	.jersy {
		padding: 0px 40px 25px;
	}

	.jersy h2{
		display: none;
	}

	.jersy {
		padding: 0px 40px 25px;
	}

	.requestserv, .email {
		width: 100%;
	}

	.requestserv {
		padding-top: 0px;
		padding-bottom: 50px;
	}
}



@media only screen and (max-width : 600px) {
    
}

@media only screen and (max-width : 520px) {
	.caption h1 {
		font-size: 33px;
		margin-top: 5px;
	}



	.request h3 {
		font-size: 33px;
		margin-top: 0;
		padding-top: 0;
	}

	.map h1.neou.white {
		font-size: 33px;
		margin-bottom: 25px;
	}

	#tweet{
		height: 200px;
	}

	.pad20.linked.col-xs-4 {
		height: auto;
	}
}

@media only screen and (max-width : 550px) {
	.navbar-header.col-xs-4.padzero {
		float: none;
		margin: -3px auto 0;
		width: 35%;
	}

}

@media only screen and (max-width : 440px) {
	.futr .col-xs-3:nth-child(3) {
		width: 100%;
	}
	.futr .col-xs-3:nth-child(4) {
		width: 100%;
	}
	#tweet{
		height: 250px;
	}

	footer hr {
		margin-top: 30px;
	}

	.white_bg {
		padding: 0px 10px 3px 0px;
	}

	.sider{
		font-size: 20px !important;
	}

	.sticky_header .navbar-header.col-xs-4.padzero {
		float: none;
		margin: 14px auto 0;
		width: 50%;
	}

	.navbar-header.col-xs-4.padzero {
		float: none;
		margin: -3px auto 0;
		width: 50%;
	}

	#services .two {
		font-size: 12px;
	}

	.two {
		font-size: 12px;
	}

}

@media only screen and (max-width : 380px) {

	#place_drop{
		margin: 0 auto;
	}

	.banner .caption {
		top: 56%;
	}

	.caption h1 {
		font-size: 19px;
	}



}

@media only screen and (max-width : 360px) {

	#place_drop{
		margin: 0 auto;
	}
}


/****************** Contact ******************/

@media only screen and (max-width : 1200px) {

	#myCarousel1 .carousel-inner .item {
		padding: 10px 30px 0px;
	}

	.consult {
		width: 275px;
	}


}

@media only screen and (max-width : 1020px) {

	.over2, .over3{
		display: none;
	}

	.connect_busi .col-xs-6 img.over1{
		position: static;
		margin: auto;
		max-width: 300px;
		height: auto;
	}

	.connect_busi .col-xs-6:first-child {
		position: static;
		text-align: center;
	}

	.bordmid {
		margin: 60px auto 0;
	}

	.winning.winning1 {
		margin-bottom: 50px !important;
	}


}

@media only screen and (max-width : 992px) {
	#myCarousel1 .carousel-inner .item .col-xs-4 {
		width: 100%;
	}

	#myCarousel1 .carousel-inner .item .col-xs-8 {
		width: 100%;
		padding: 30px 15px 0;
		position: static;
	}

	p.follow {
		padding-top: 30px;
		position: static;
		padding-bottom: 50px;
	}

	.noresp{
		display: none;
	}

	.resp{
		display: block;
	}

	#myCarousel1 .carousel-control {
		top: 500px;
	}

	.vision .bg, .mission .bg {
		padding: 60px 30px;
		height: 450px;
	}

	.abtlay1, .abtlay3 {
		display: none;
	}

	.abtlay2 div:nth-child(1){
		text-align: left;

	}

	.abtlay {
		padding: 100px 0px;
	}

	.connect h3 {
		font-size: 39px;
	}
}

@media only screen and (max-width : 862px) {


	.consult {
		right: -50px;
	}

	#about .cloudious p.cata {
		width: 100%;
		margin: 25px 0px 10px;
		text-align: left;
	}

}

@media only screen and (max-width : 768px) {

	.aboutcont .col-xs-1{
		display: none;
	}

	.consult {
		position: static;
		float: none;
		width: auto;
	}

	.consult p{
		position: static;
		float: none;
		width: auto;
	}

	.aboutcont .col-xs-3 {
		margin: auto;
		float: none;
		width: 280px;
		margin-bottom: 50px;
	}

	.abtlay2 div:nth-child(1) {
		font-size: 30px;
		padding: 74px 30px;
	}

	.abtlay2 {
		z-index: 0;
	}

	.abtlay {
		padding: 50px 0px;
	}

	.aboutcont .right {
		padding: 50px 0px 80px 0px;
		width: 100%;
		text-align: left;
	}

	.right p {
		width: 90%;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	section.aboutcont {
		padding: 300px 0px 0px;
	}

	.diff .container{
		padding: 0;
		width: 90%;
		margin: auto;
	}

	.connect_busi {
		margin: 20px 0px;
	}

	.connect_busi .col-xs-6 {
		width:100%;
		padding: 0;
	}

	.winning p.learn.cata {
		margin-top: 30px !important;
	}

	.cloudious .connect {
		padding: 40px 0px 40px 0px;
	}

}

@media only screen and (max-width : 700px) {
	.vision, .mission {
		padding-right: 0px;
		padding-left: 0;
		width: 100%;
	}

	#myCarousel1 .carousel-inner .item .col-xs-4 img {
		max-width: 100%;
		height: auto;
	}

	.vision .bg, .mission .bg {
		padding: 45px 20px;
		height: auto;
	}
}

@media only screen and (max-width : 550px) {
	.cueln {
		right: 0px;
	}

	#myCarousel1 p.follow a {
		padding: 10px 10px;
	}

	.abtlay2 div:nth-child(1) {
		font-size: 20px;
		width: 280px;
		padding: 85px 60px;
	}

	section.aboutcont {
		padding: 250px 0px 0px;
	}



}

@media only screen and (max-width : 360px) {
	.connect_busi .col-xs-6 img.over1 {
		position: static;
		margin: auto;
		max-width: 100%;
		height: auto;
	}
}

/****************** Services ******************/

@media only screen and (max-width : 1200px) {

	.brand .col-xs-3:nth-child(2) {
		width: 300px;
	}
	.brand .col-xs-3:nth-child(1) {
		width: 20%;
	}

	.brand .col-xs-6 {
		float: right;
	}

	.serv_cont.row .col-xs-1:first-child {
		display: none;
	}

	.serv_cont.row .col-xs-1:nth-child(2) {
		width: 16.66%;
	}

	.servicespg.padbot50 .col-xs-4 {
		width: 50%;
	}

	.servicespg.padbot50 .col-xs-2{
		display:none;
	}

	.serv_cont img.pull-left {
		float: right !important;
	}
	.brand {
		text-align: left;
		padding: 150px 0px 0px;
	}

}

@media only screen and (max-width : 1100px) {
	.connect_busi {
		margin: 30px 0px 20px;
	}



	.techno .col-xs-6 {
		display: none;
	}

	.techno .col-xs-6.greybg {
		display: block;
		float: right;
		width:70%;
	}

	.brand .col-xs-3:nth-child(1) {
		width: 15%;
	}

	.brand .col-xs-6 {
		padding-left: 15px;
	}
}


@media only screen and (max-width : 1020px) {
	section.container.servicespg.marauto {
		padding-top: 20px;
	}
}

@media only screen and (max-width : 992px) {

	.servi .col-xs-4 {
		width: 50%;
	}

	.servico{ 
		display:none;
	}

	.brand {
		padding: 100px 0px 0px;
	}

	.brand .col-xs-6 {
		padding: 0 15px;
		width: 55%;
	}

	.brand .col-xs-3:nth-child(1) {
		display: none;
	}

}

@media only screen and (max-width : 970px) {
	.bluebg {
		-webkit-box-shadow: none;
		box-shadow: none;
	}


}

@media only screen and (max-width : 900px) {
	.techno .col-xs-6.greybg {
		width:100%;
	}


}

@media only screen and (max-width : 830px) {
	.brand .col-xs-3:nth-child(2) {
		margin:0 auto 30px;
		float: none;
	}

	.brand .col-xs-6 {
		padding: 0 15px;
		width: 100%;
		margin-bottom: 30px;
	}

	.servicespg.padbot50 .col-xs-4 {
		width: 100%;
	}

	.serv_cont {
		margin: 20px 0px 10px;
	}

	.servi .col-xs-4 {
		width: 100%;
	}

	.serv_cont p.cata {
		text-align: left;
		font-size: 15px;
		color: #808080;
	}

}




@media only screen and (max-width : 768px) {
	.cloudious p.cata {
		width: 100%;
	}

	.brand .col-xs-6 {
		padding: 0;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}

	.techno {
		padding: 30px;
	}

	.background1 {
		padding: 0px 0px 100px;
	}

	.brand .row {
		margin: 0;
	}
}

@media only screen and (max-width : 550px) {
	.serv_cont p.cata {
		width: 90%;
	}
	.serv_cont img.pull-left {
		max-width: 100%;
		height: auto;
	}

	.brand .col-xs-3:nth-child(2) {
		width: 270px;
	}

	.bluebg {
		padding: 47px 32px 20px;
	}
}

@media only screen and (max-width : 450px) {
	.techno .greybg h3 {
		font-size: 30px;
		padding:0px;
	}

	.greybg p.learn a {
		padding: 10px 20px;
		font-size: 12px;

	}

	.techno  .greybg {
		background: #303030;
		padding: 40px 30px;
	}
}

@media only screen and (max-width: 360px){
	.techno {
		padding: 20px;
	}
}

/****************** Services ******************/


@media only screen and (max-width: 1200px){
	.other {
		width: 100%
	}
}

@media only screen and (max-width: 992px){

	#serv_it .icons li.noeed, .noeed {
		display: none;
	}

	.other {
		margin-top: 60px;
	}

	#serv_it .servicesit1 .row {
		padding: 20px;
	}

	#serv_it .servicesit1 .row .col-xs-1{
		display: none;
	}

	#serv_it .servicesit1 .row .col-xs-2{
		width:20%;
	}


}

@media only screen and (max-width: 768px){

	#serv_it .cloudious p.cata {
		width: 100%!important;
	}

	.winning {
		margin-bottom: 0;
	}

}



@media only screen and (max-width: 689px){

	#serv_it .servicesit1 {
		padding: 50px 0 0;
	}

	#serv_it .consult {
		float: none;
		margin: auto;
		margin-bottom: 30px;
	}


	.consult p.white {
		text-align: left;
	}

	#serv_it .aboutcont .right {
		width: 100%;
	}

	.servicesit1 .row {
		margin: 0;
	}

}

@media only screen and (max-width: 600px){

	#serv_it .servicesit1 .row {
		padding: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-line-pack: justify;
		align-content: space-between;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}


	#serv_it .servicesit1 .row .col-xs-2 {
		width: 33.3333%;
	}
}

@media only screen and (max-width: 483px){
	#serv_it .servicesit1 .row .col-xs-2 {
		width: 50%;
	}

	.connect h3 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 480px){

	#serv_it .aboutcont .right {
		width: 100%;
		padding: 0 30px;
	}

	#serv_it .consult {
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
		text-align: left;
		background-size: cover;
	}


}


/****************** Index ******************/

@media only screen and (max-width: 1280px){
	.test .snap:after {
		right: -40px;
	}

	#home #myCarousel .carousel-inner .item {
		padding: 100px 100px 200px 50px;
		height: 634px;
	}
}


@media only screen and (max-width: 1200px){



	.test .col-xs-8:after {
		left: auto;
		right: 100px;
		opacity: 0.4;
	}

	.test .snap:after {
		right: -50px;
	}

}

@media only screen and (max-width: 1150px){

	.test .snap {
		left: 0px; 
	}

	#home #myCarousel .carousel-inner .item {
		padding: 100px 50px 200px 50px;
	}

	.test .snap:after {
		right: -65px;
	}

}

@media only screen and (max-width: 1050px){

	#home .item .connect p.cata.white {
		margin-top: 50px;
	}

	.test .col-xs-8 {
		padding: 50px 15px 100px 150px;
	}

	.test .col-xs-8:before {
		left: 75px;
	}

	.test .snap:after {
		right: -85px;
	}

}

@media only screen and (max-width: 992px){

	.serviao .col-xs-12 .col-xs-2, .serviao .col-xs-12 .col-xs-1{
		display: none;
	}

	.serviao .col-xs-12 a .col-xs-2{
		display: block;
		width:100%;
	}

	.serviao .col-xs-12{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.services figcaption {
		width: 60%;
	}

	.serviao .col-xs-12{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.serviao .col-xs-12 a{
		width:120px;
	}

	.services .row {
		margin: 50px 0px;
	}

	#home #myCarousel .carousel-inner .item {
		padding: 100px 150px 200px 150px;
	}

	#home .item .connect p.cata.white {
		margin-top: 80px;
	}

	#home .item .connect h5 {
		margin-top: 10px;
	}

	.slider .col-xs-6{
		width:100%;
	}

	.clients .col-xs-3 img{
		max-width:100%;
		height: auto;
	}

	.clients .row{
		margin: 50px 0;
	}

	.test .snap {
		left: 40px;
	}

	.test .snap:after {
		right: -31px;
		width: 42px;
	}

	.test .snap img {
		padding: 80px 43px;
	}

	.test .col-xs-8:after{
		right: 0px;
		bottom: 45px;
		-webkit-transform: scale(.5);
		transform: scale(.5);
	}

	.sponsorship .connect {
		text-align: left;
		margin: 50px auto;
		width: 100%;
	}

	.vmsa {
		display: block;
		margin-bottom: 30px;
	}
}


@media only screen and (max-width: 876px){

	#home #myCarousel .carousel-inner .item {
		padding: 100px 100px 200px 100px;
	}

	.test .col-xs-8 {
		padding: 50px 50px 100px 110px;
	}

	.test .col-xs-8:before {
		left: 55px;
	}

	.test .snap img {
		padding: 70px 30px;
	}

	.test .col-xs-8 {
		padding: 50px 50px 100px 130px;
		width: 75%;
	}

	.test .col-xs-1 {
		display: none;
	}

}

@media only screen and (max-width: 741px){

	.test .snap {
		display: none;
	}

	.test .col-xs-8 {
		padding: 50px 0 100px 0;
		width: 100%;
	}

	.patner {
		width: 80%;
		margin: auto;
	}

	.test .col-xs-8:before {
		-webkit-transform: scale(.75);
		transform: scale(.75);
		left: 30px;
		top: 110px;
	}

	.snapper{
		display: block;
		margin-bottom: 30px;
	}

	.test .col-xs-8:after{
		right: 0px;
		bottom: 45px;
		-webkit-transform: scale(.45);
		transform: scale(.45);
	}

	.test h4 {
		margin-top: 40px;
	}

	.sponsorship .col-xs-12{
		padding: 0;
	}

	.sponsorship .connect {
		text-align: left;
		margin: 50px auto;
		padding: 60px 40px;
		width: 80%;
		float:none;
	}

	.test .snap:after {
		display: none;
	}

}



@media only screen and (max-width: 640px){

	.services .row {
		margin: 0px 0px;
	}

	#home #myCarousel .carousel-inner .item {
		padding: 100px 50px;
	}

	.test .col-xs-8 {
		padding: 50px 0;
	}

	.test .col-xs-8:after {
		bottom: 0px;
	}

}

@media only screen and (max-width: 600px){


	.clients .container .row {
		margin: 20px 0;
	}



}

@media only screen and (max-width: 475px){

	#home .item .connect p.cata.white {
		margin-top: 30px;
	}

	.test .col-xs-8:before {
		-webkit-transform: scale(.6);
		transform: scale(.6);
		left: 15px;
	}

	.test .col-xs-8:after {
		-webkit-transform: scale(.3);
		transform: scale(.3);
	}
}

@media only screen and (max-width: 400px){

	.sponsorship .connect {
		margin: 30px 30px;
		padding: 50px 20px;
		width: auto;
	}
	.patner {
		width: 100%;
		margin: auto;
		padding: 0 30px;
	}

	.services figcaption {
		width: 75%;
	}

	#tweet .carousel-control img {
		top: 41%;
		position: relative;
		width: 23px;
		height: auto;
	}


	#home #myCarousel .carousel-inner .item {
		padding: 75px 50px 100px;
	}

	.test .col-xs-8:after {
		bottom: -10px;
	}

}


@media only screen and (max-width: 360px){
	.serviao .col-xs-12 a {
		width: 100px;
	}

	#tweet .carousel-control img {
		width: 23px;
		height: auto;
	}

	#home #myCarousel .carousel-inner .item {
		padding: 75px 30px 100px;
		height: 650px;
	}

}

@media only screen and (max-width: 768px){

	video {
		height: 100vh;
		width: auto;

		-webkit-transform: translateX(-25%);
		transform: translateX(-25%);
	}

	.banner.ind-ban {
		height: 100vh;
	}

}



@media only screen and (max-width: 400px){

	video {
		-webkit-transform: translateX(-40%);
		transform: translateX(-40%);
	}

}


@media only screen and (max-width: 600px){

	.abt_ban .caption{
		left:14%
	}

}



@media only screen and (max-width: 520px){

	.abt_ban .caption{
		left:14%
	}

}





@media only screen and (max-width: 380px){

	.abt_ban .caption{
		left:10%
	}

}

@media only screen and (max-width:1200px){

	#home .white_bg {
		width: 16%;
	}

}

@media only screen and (max-width:768px){

	#home .white_bg {
		width: 35%;
	}

	#serv_it .caption{
		display: none;
	}
}

@media only screen and (max-width:520px){

	#home .white_bg {
		width: 60%;
	}
}

@media only screen and (max-width:380px){

	#home .white_bg {
		width: 72%;
	}
}

